/* Results.css */

/* Default styles for larger screens */
.resultPara {
  color: #4760ff;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  /* Set a maximum width for larger screens */
  max-width: 100%; /* Adjust this value as needed */
  margin: 0 auto; /* Center the element horizontally */
}

.results {
  /* background-color: #e7edfa; */
  /* background-color: #f3ed80; */
  background-color: white;
  min-height: 100vh;
  width: 100%; /* Make the width responsive */
  height: auto; /* Adjust the height as needed */
}

.results-container {
  /* margin-top: 6000px; */
  width: 80%; /* Make the width responsive */
  height: auto; /* Adjust the default height of the container */
  border: 5px solid white;
  /* border: 5px solid #4760ff; */
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.spacer {
  height: 200px; /* Adjust the height as needed */
}

.img-container {
  background: wheat;
  /* background: #4760ff; */
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
}

.img-container img {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
  /* Adjust spacing between images */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .resultPara {
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .results-container {
    max-width: 100%; /* Limit container width for smaller screens */
    height: auto; /* Allow the container to expand vertically */
    max-height: 400px; /* Limit the container's maximum height */
  }

  .img-container {
    max-height: 300px; /* Limit the maximum height for smaller screens */
  }
}
