.sec {
  background-color: #e7edfa;
  height: auto;
  min-height: 50vh;
}

.secP {
  text-align: center;
  color: #140c40;
  font-size: 100px;
  font-family: Basis Grotesque, Helvetica, sans-serif;
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
  font-variant-numeric: tabular-nums;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .sec {
    height: auto;
  }

  .secP {
    font-size: 40px;
  }
}
