/* .imageSec styles for larger screens */
.imageSec {
  width: 100%;
  min-height: 800px;
  height: auto;
  min-width: 150px;
  background-image: url(./img/photp.jpg);
  background-size: cover;
  /* text-shadow: 2px 2px 2px black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageSec p {
  font-size: 80px;
  color: #e7edfa;
}

/* Responsive styles for smaller screens (max-width: 768px) */
@media (max-width: 768px) {
  .imageSec {
    min-height: 400px;
  }

  .imageSec p {
    font-size: 40px;
  }
}
