* {
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

/* body {
    margin: 0;
    background-color: #ffd8d8;
  } */

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #140c40;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  /* position: absolute; */
  top: 50%;
  left: 0;
  right: 0;
  width: 90%;
  width: 1000px;
  padding: 35px;
  margin: -83px auto 0 auto;
  background-color: #e7edfa;
  border-radius: 20px;
  box-shadow: 0 5px 5px #140c40, 0 0 0 5px #ffffffeb;
  transform: scale(0.5);
  z-index: 1;
}

form {
  height: 96px;
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;

  @media (max-width: 768px) {
    font-size: 40px;
    height: 60px;
  }
}

input[type="text"]::placeholder {
  color: #140c40;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 60px;
    height: 60px;
  }
}

#s-circle {
  position: relative;
  top: -16px;
  left: 0;
  width: 60px;
  height: 60px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

@media (max-width: 768px) {
  input[type="text"] {
    font-size: 40px;
    height: 60px;
  }
}
